body {
  background-color: #efefef;
  text-align: center;
}
.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}
h1 {
  margin: 5px;
  text-align: center;
  font-family: "Silkscreen", sans-serif;
  font-size: 50px;
}
.controls-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.colorPick {
  border: none;
  background: none;
  width: 80px;
  height: 80px;
  padding: 0;
  transition: all 0.3s ease;
}

.colorPick::-webkit-color-swatch {
  border: none;
  box-shadow: 0 0 10px 5px rgba(101, 101, 101, 0.3);
  border-radius: 24px;
}
.colorPick:hover {
  transform: scale(1.1);
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  background-color: #fef8f8;
  border: 1px solid #cacaca;
  box-shadow: 0 0 10px 2px rgba(101, 101, 101, 0.3);
}
.gridElement {
  box-sizing: border-box;
  border: 1px solid #4d4d4d6c;
}
.toggleBorder {
  border: none;
}
.gridSizeChoose,
.reset-button {
  margin: 20px;
  padding: 10px;
}
button {
  font-family: "DotGothic16", sans-serif;
  font-size: 17px;
  border-radius: 24px;
  background-color: #fef8f8;
}
.active {
  background-color: red;
}
